<br>
<div class="row">
  <div class="col-sm-12">
    <img [src]="recipeForDetail.imagePath" alt="{{ recipeForDetail.name }}" class="img-fluid" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipeForDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    {{ recipeForDetail.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
